<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.his.masterdata.mapper.AddfessMapper">


    <select id="addfessList" resultType="cn.bdqn.his.masterdata.entity.Addfess">
        SELECT * FROM hos_addfess
        <where>
            <if test="type != null and type != ''">and addi_type like concat('%',#{type},'%')</if>
            <if test="name != null and name != ''">and addi_name like concat('%',#{name},'%')</if>
        </where>
    </select>
</mapper>