<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.his.prescription.mapper.PreTemplateMapper">
   <resultMap id="getAllPreTemplates" type="cn.bdqn.his.prescription.entity.hos.PreTemplate">
       <id  property="id" column="id"></id>
       <result property="diagnosis" column="diagnosis"></result>
       <result property="tempName" column="tempName"></result>
       <result property="premiss" column="premiss"></result>
       <result property="createDate" column="createDate"></result>
       <result property="number" column="number"></result>
       <result property="suoming" column="suoming"></result>
       <association property="prescriType" javaType="cn.bdqn.his.prescription.entity.hos.PrescriType">
           <result property="typeName" column="typeName"></result>
       </association>
       <collection property="menWesterns" ofType="cn.bdqn.his.prescription.entity.med.MenWestern" javaType="java.util.List" resultMap="getMenWestern"> </collection>
       <collection property="menEasts" ofType="cn.bdqn.his.prescription.entity.med.MenEast" javaType="java.util.List" resultMap="getMenEast"> </collection>
   </resultMap>
    <resultMap id="getMenWestern" type="cn.bdqn.his.prescription.entity.med.MenWestern">

            <id  property="id" column="meId"></id>
            <result property="singleUsage" column="single_usage"></result>
            <result property="frequency" column="frequency"></result>
            <result property="day" column="day"></result>
            <result property="total" column="total"></result>
            <result property="price" column="price"></result>
            <result property="mobanid" column="mobanid"></result>
            <result property="commonname" column="commonname"></result>
            <result property="druName" column="druName"></result>

    </resultMap>
    <resultMap id="getMenEast" type="cn.bdqn.his.prescription.entity.med.MenEast">

        <id  property="id" column="meId"></id>
        <result property="singleUsage" column="single_usage"></result>
        <result property="frequency" column="frequency"></result>
        <result property="day" column="day"></result>
        <result property="total" column="total"></result>
        <result property="price" column="price"></result>
        <result property="mobanid" column="mobanid"></result>
        <result property="commonname" column="commonname"></result>
        <result property="druName" column="druName"></result>

    </resultMap>
    <!--查询西药摸板及摸板下的详情-->
    <select id="getAllPreTemplatesMenWestern" resultMap="getAllPreTemplates">
        SELECT pre.* ,pres.typeName AS typeName,me.*,me.id AS meId,dr.common_name AS commonname,dru.name AS druName  FROM
        hos_pre_template pre ,`hos_prescri_type` pres, `med_men_western` me ,`hos_drug_information` dr,`hos_drug_usage` dru
      <where>
        pre.`prescri_type` =pres.id AND me.drug_id=dr.id AND dr.usage_id=dru.id AND me.`mobanid`=pre.id
        AND pre.`prescri_type`=1

        </where>

    </select>

    <!--查询西药摸板及摸板下的详情-->
    <select id="getAllPreTemplatesMenEast" resultMap="getAllPreTemplates">
        SELECT pre.* ,pres.typeName AS typeName,me.*,me.id AS meId,dr.common_name AS commonname,dru.name AS druName  FROM
        hos_pre_template pre ,`hos_prescri_type` pres, `med_men_east` me ,`hos_drug_information` dr,`hos_drug_usage` dru
        <where>
            pre.`prescri_type` =pres.id AND me.drug_id=dr.id AND dr.usage_id=dru.id AND me.`mobanid`=pre.id
            AND pre.`prescri_type`=2

        </where>

    </select>

</mapper>